OPENAI_API_KEY=

DEEPGRAM_API_KEY=
CARTESIA_API_KEY=

MQTT_URL=mqtt://localhost:1883
MQTT_PUBLIC_WS_URL=ws://localhost:8083/mqtt

REDIS_URL=redis://localhost:6379

PORT=4000
CORS_ORIGIN=http://localhost:5173
